from fastapi import FastAPI
{{- if .IncludeSQLAlchemy }}
from sqlalchemy.orm import Session
{{- end }}

app = FastAPI(title="{{ .ProjectName }}")

@app.get("/")
async def root():
    return {"message": "Hello from {{ .ProjectName }}"}