[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
pydantic-settings = "*"
python-dotenv = "*"
{{- if .UseFastCRUD }}
sqlmodel = "*"
alembic = "*"
psycopg2-binary = "*"
fastcrud = "*"
{{- else if .UseSQLModel }}
sqlmodel = "*"
alembic = "*"
psycopg2-binary = "*"
{{- else if .IncludeSQLAlchemy }}
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
{{- end }}
{{- if .IncludeMongoDB }}
pymongo = {extras = ["srv"], version = "*"}
certifi = "*"
{{- end }}
{{- if .UseClerk }}
clerk-backend-api = "*"
{{- else if .UseCognito }}
python-jose = {extras = ["cryptography"], version = "*"}
httpx = "*"
{{- end }}
{{- if .UseRedis }}
redis = {extras = ["asyncio"], version = "*"}
{{- end }}

[dev-packages]
httpx = "*"
pytest = "*"

[requires]
python_version = "3.11"
