fastapi[standard]
pydantic[email]
pydantic-settings
python-dotenv
{{- if .UseFastCRUD }}
sqlmodel
alembic
psycopg2-binary
fastcrud
{{- else if .UseSQLModel }}
sqlmodel
alembic
psycopg2-binary
{{- else if .IncludeSQLAlchemy }}
sqlalchemy
alembic
psycopg2-binary
{{- end }}
{{- if .IncludeMongoDB }}
pymongo[srv]
certifi
{{- end }}
{{- if .UseClerk }}
clerk-backend-api
{{- else if .UseCognito }}
python-jose[cryptography]
httpx
{{- end }}
{{- if .UseRedis }}
redis[asyncio]
{{- end }}
httpx
pytest
