from pydantic_settings import BaseSettings
from dotenv import load_dotenv

load_dotenv()

class Settings(BaseSettings):
    APP_NAME: str = "{{ .ProjectName }}"
{{- if or .IncludeSQLAlchemy .UseSQLModel .UseFastCRUD }}
{{- if .UseDocker }}
    DATABASE_URL: str = "postgresql://user:password@db:5432/{{ .ProjectName }}"
{{- else }}
    DATABASE_URL: str = "postgresql://user:password@localhost:5432/{{ .ProjectName }}"
{{- end }}
{{- else if .IncludeMongoDB }}
{{- if .UseDocker }}
    MONGODB_URL: str = "mongodb://mongo:27017"
{{- else }}
    MONGODB_URL: str = "mongodb://localhost:27017"
{{- end }}
    MONGODB_DB: str = "{{ .ProjectName }}"
{{- end }}
{{- if .UseClerk }}
    CLERK_SECRET_KEY: str = ""
{{- else if .UseCognito }}
    AWS_REGION: str = "us-east-1"
    COGNITO_USER_POOL_ID: str = ""
    COGNITO_APP_CLIENT_ID: str = ""
{{- end }}
{{- if .UseRedis }}
    REDIS_URL: str = "redis://{{ if .UseDocker }}redis{{ else }}localhost{{ end }}:6379"
{{- end }}

    class Config:
        env_file = ".env"

settings = Settings()
